<!DOCTYPE html>
<html>
<head>
  <title>SimpleBlog</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
<%= render 'layouts/admin/navbar' %>

<div id="layoutSidenav">
  <%= render 'layouts/admin/sidebar' %>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <%= yield %>
      </div>
    </main>

    <%= render 'layouts/admin/footer' %>
  </div>
</div>

</body>
</html>
